.bg {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../../img/login-bg.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: .4;
    z-index: -1;
}

.logo-wrapper {
    margin-top: 30px;
    text-align: center;
    
}

.login-form {
    margin-top: 170px;
    padding: 10px;
}

.login-form-label {
    color: #ffb636;
    font-size: 400%;
    font-weight: bold;
}

.login-form-input {
    border: 0;
    border-bottom: 2px solid #ffb636;
    width: 90%;
    font-size: 350%;
    margin-left: 5%;
    font-weight: bold;
    padding: 5px;
    background: transparent;
}

.service-provider-option{
    font-size: 20%;
    width: 200px;
}

.login-form-button {
    border: 0;
    color: white;
    font-size: 400%;
    width: 90%;
    padding: 5px;
    margin-left: 5%;
    background: #ffb636;
    margin-top: 152px;
}

.login-form-sub-label {
    font-size: 200%;
    font-weight: bold;
}

.login-form-otp-input {
    border: 0;
    border-bottom: 2px solid #ffb636;
    width: 15%;
    font-size: 300%;
    margin-left: 5%;
    font-weight: bold;
    padding: 5px;
    background: transparent;
    text-align: center;
}

.label-wrapper {
    text-align: center;
    margin-top: 10px;
}